@model IEnumerable<GestionDeportiva.Models.TiposEventos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Session["UserProfile"] != null)
{
    <p>
        @Html.ActionLink("Crear Categoría", "Create", null, new { @class = "btn-outline-successs" })
    </p>
}

    <div class="d-flex flex-md-wrap flex-column bg-opacity-50 m-2" style="background-color:lightgray">
        <div class="d-flex justify-content-center">
            <h2>Tipos de Eventos Rexistentes</h2>
        </div>
        <div class="d-flex gap-3 p-3 flex-wrap justify-content-center">
            @foreach (var item in Model)
            {
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Categoría</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@item.Nombre</h6>
                        @Html.ActionLink("Ver eventos", "Details", new { id = item.TipoEventoId }, new { @class = "btn btn-sm btn-outline-primary" })
                        @if (Session["UserProfile"] != null)
                        {
                            @Html.ActionLink("Editar", "Edit", new { id = item.TipoEventoId }, new { @class = "btn btn-sm btn-outline-success" })
                        }
                    </div>
                </div>
            }
        </div>

    </div>